.cf-btn {
  border: none;
  border-radius: 4px;
  font-size: 0.875rem;
  padding: 0.625rem 0.9375rem;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.cf-btn--primary {
  background-color: #4CAF50;
  color: #ffffff;
}

.cf-btn--primary:hover {
  background-color: #57bd5b;
}

.cf-btn--small {
  padding: 5px 0.9375rem;
}

.cf-btn--blank {
  border: none;
  outline: none;
  background: none;
  padding-bottom: 0;
}

.cf-btn--blank:focus {
  outline: none;
}

.cf-btn--control {
  width: 100%;
}