.cf-navigation__league {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* default */
@media screen and (min-width: 0) {
  .cf-navigation__league {
    margin-bottom: 5px;
  }
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .cf-navigation__league {
    margin-bottom: 0;
  }
}