.cf-navigation__nav {
  flex: 1;
}


/* default */
@media screen and (min-width: 0) {
  .cf-navigation__nav {
    display: none;
    width: 0;
  }
}

/* 768px */
@media screen and (min-width: 48rem) {
  .cf-navigation__nav {}

}

/* 1024px */
@media screen and (min-width: 64rem) {
  .cf-navigation__nav {}
}