.cf-search-form__label {
  color: #ffffff;
  font-weight: 700;
}

/* default */
@media screen and (min-width: 0) {
  .cf-search-form__label {
    margin: 10px 0 5px 0;
  }
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .cf-search-form__label {
    margin: 0 0.65rem 0 0;
  }
}