.cf-matches {
  background: #ffffff;
  min-height: 25rem;
  padding: 1.25rem 1.5rem 2.5rem 1.5rem;
}


/* default */
@media screen and (min-width: 0) {
  .cf-matches {
  }
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .cf-matches {
  }
}