.cf-match__footer {
  color: #606060;
  display: flex;
  font-size: 8px;
  font-weight: normal;
  margin-top: 7px;
}

.cf-match__footer .material-icons {
  color: #212529;
  font-size: 1rem;
  width: 16px;
}