.cf-midia {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  padding-bottom: 0.5rem;
  margin-top: 1.5rem;
}



/* 0 */
@media screen and (min-width: 0) {
  .cf-midia {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* 768px */
@media screen and (min-width: 48rem) {
  .cf-midia {
    width: 12rem;
  }

  .cf-midia:last-child {
    margin-right: 1.5rem;
  }
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .cf-midia {
    width: 17rem;
  }
}