.cf-stats {
  margin: 0 auto;
  max-width: 49rem;
  background: #ffffff;
}


/* default */
@media screen and (min-width: 0) {
  .cf-stats {
    padding: 10px 0 2rem 0;
  }
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .cf-stats {
    padding: 10px 1.875rem 2rem 1.875rem;

  }
}